<label>Hair Type
  <fieldset id="hairTypeInput" class="type-wrapper">
    <div class="radio-group">
      <input
        required
        type="radio"
        id="hairless"
        name="hairTypeInput"
        value="hairless"
      />
      <label for="hairless">
        <img class="hair-type-item" src="/public/img/Cat hairs/hairless.jpg" />
        HAIRLESS
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="long"
        name="hairTypeInput"
        value="long"
      />
      <label for="long">
        <img class="hair-type-item" src="/public/img/Cat hairs/long.jpg" />
        LONG HAIRS
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="short"
        name="hairTypeInput"
        value="short"
      />
      <label for="short">
        <img class="hair-type-item" src="/public/img/Cat hairs/short.jpg" />
        SHORT HAIRS
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="sparse"
        name="hairTypeInput"
        value="sparse"
      />
      <label for="sparse">
        <img class="hair-type-item" src="/public/img/Cat hairs/tabby.jpg" />
        SPARSE HAIR
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="medium"
        name="hairTypeInput"
        value="medium"
      />
      <label for="medium">
        <img class="hair-type-item" src="/public/img/Cat hairs/medium.jpg" />
        MEDIUM HAIRS
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="curledhair"
        name="hairTypeInput"
        value="curledhair"
      />
      <label for="curledhair">
        <img class="hair-type-item" src="/public/img/Cat hairs/curly.jpg" />
        CURLED HAIRS
      </label>
    </div>
  </fieldset>
</label>

<label>Ear Type
  <fieldset id="earTypeInput" class="type-wrapper">
    <div class="radio-group">
      <input
        required
        type="radio"
        id="straight"
        name="earTypeInput"
        value="straight"
      />
      <label for="straight">
        <img class="hair-type-item" src="/public/img/Cat hairs/Straight.jpg" />
        Straight Ears
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="curledear"
        name="earTypeInput"
        value="curledear"
      />
      <label for="curledear">
        <img class="hair-type-item" src="/public/img/Cat hairs/curled.jpg" />
        Curled Ears
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="folded"
        name="earTypeInput"
        value="folded"
      />
      <label for="folded">
        <img
          class="hair-type-item"
          src="/public/img/Cat hairs/FoldedEars.jpg"
        />
        Folded Ears
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="loosely"
        name="earTypeInput"
        value="loosely"
      />
      <label for="loosely">
        <img
          class="hair-type-item"
          src="/public/img/Cat hairs/Losselyfoldedears.jpg"
        />
        Lossely Folded Ears
      </label>
    </div>
    <div class="radio-group">
      <input
        required
        type="radio"
        id="floppy"
        name="earTypeInput"
        value="floppy"
      />
      <label for="floppy">
        <img
          class="hair-type-item"
          src="/public/img/Cat hairs/FloppyEars.jpg"
        />
        Floppy Ears
      </label>

    </div>
  </fieldset>
</label>