<footer>

  <ul>
    {{#if cookie}}
      <li><a href="/auth/logout">Logout</a></li>
    {{else}}

      <li><a href="/auth/register">Register</a></li>

      <li><a href="/auth/login">Login</a></li>

    {{/if}}

  </ul>

  <h4>
    1 IN 3 PETS GO MISSING IN THEIR LIFETIME. BE PREPARED
  </h4>
  <ul>
    <li><a href="/pets/report">Report a missing or found pet</a></li>
    <li><a href="/pet-stores">Nearby Pet Stores</a></li>
    <li><a href="/dog-walker">Dog Walker</a></li>
    <li><a href="/adoption">Adoption</a></li>
  </ul>

</footer>