<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPaws | {{page.title}}</title>

    <link rel="stylesheet" href="/public/main-styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <header>
      <div class="logo"><a href="/">MyPaws</a> </div>
      <div class="d-flex">
         <a href="/new-feed" style="color: #fff;">new post</a>
      <div class="header-right">

        {{#if cookie}}
          <a href="/new-feed" style="color: #fff;">new post</a>
        {{/if}}

        <div class="profile">
          {{#if cookie}}
            <i
              onclick="window.location.href = '/profile'"
              class="material-icons"
            >person</i>
          {{/if}}
        </div>
      </div>

    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <ul>
        {{#unless cookie}}
          <li><a href="/login">Login</a></li>

        {{/unless}}

        {{#if cookie.auth}}
          <li><a href="/logout">Logout</a></li>
        {{/if}}

        <li><a href="/register">Register</a></li>
      </ul>
      <ul>
        <li><a href="/pets/lost">Lost</a></li>
        <li><a href="/pets/found">Found</a></li>

      </ul>
    </footer>
    
    <script src="/public/js/main.js"></script>
  </body>
</html>