<h1>Found {{page.animal}} Form</h1>
<form
  id="foundpet-form"
  method="post"
  action="/pets/found"
  enctype="multipart/form-data"
>
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
  <label for="foundName">Your Name</label>
  <input
    type="text"
    placeholder="Enter your name.."
    id="foundName"
    pattern="[A-Za-z ]{1,}"
    title="Enter only Alphabets"
    required
    autofocus
    name="nameInput"
  />
  <label for="foundEmail">Your Email</label>
  <input
    type="email"
    id="foundEmail"
    placeholder="Enter your email.. e.g. example@email.com"
    name="email"
    name="emailInput"
  />
  <input hidden value="{{page.animal}}" name="animalInput" />

  <label for="foundBreed">Breed</label>
  <input
    type="text"
    id="foundBreed"
    placeholder="Enter pet breed.."
    pattern="[A-Za-z ]{1,}"
    title="Enter only Alphabets"
    required
    name="breedInput"
  />
  <label for="foundColor">Color</label>
  <input
    type="text"
    id="foundColor"
    placeholder="Enter pet color.."
    pattern="[A-Za-z ]{1,}"
    title="Enter only Alphabets"
    required
    name="colorInput"
  />
  <div id="collarInput" class="wrapper">
    <p>Collar</p>
    <input
      required
      type="radio"
      id="collarInput1"
      name="collarInput"
      value="true"
    />
    <label for="collarInput1">Yes</label>
    <input
      required
      type="radio"
      id="collarInput2"
      name="collarInput"
      value="false"
      checked
    />
    <label for="collarInput2">No</label>
  </div>
  <label for="foundHeight">Height</label>
  <input
    type="number"
    id="foundHeight"
    placeholder="Enter pet height.. in ft"
    min="0"
    name="heightInput"
  />
  <label for="foundGender">Gender</label>
  <select id="foundGender" name="genderInput">
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>

  {{#ifEquals page.animal "cat"}}
    <label>Hair Type
      <fieldset id="catHairTypeInput" class="type-wrapper">
        <div class="radio-group">
          <input
            required
            type="radio"
            id="hairless"
            name="catHairTypeInput"
            value="hairless"
          />
          <label for="hairless">
            <img
              class="hair-type-item"
              src="/public/img/Cat hairs/hairless.jpg"
            />
            HAIRLESS
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="long"
            name="catHairTypeInput"
            value="long"
          />
          <label for="long">
            <img class="hair-type-item" src="/public/img/Cat hairs/long.jpg" />
            LONG HAIRS
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="short"
            name="catHairTypeInput"
            value="short"
          />
          <label for="short">
            <img class="hair-type-item" src="/public/img/Cat hairs/short.jpg" />
            SHORT HAIRS
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="sparse"
            name="catHairTypeInput"
            value="sparse"
          />
          <label for="sparse">
            <img class="hair-type-item" src="/public/img/Cat hairs/tabby.jpg" />
            SPARSE HAIR
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="medium"
            name="catHairTypeInput"
            value="medium"
          />
          <label for="medium">
            <img
              class="hair-type-item"
              src="/public/img/Cat hairs/medium.jpg"
            />
            MEDIUM HAIRS
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="curledhair"
            name="catHairTypeInput"
            value="curledhair"
          />
          <label for="curledhair">
            <img class="hair-type-item" src="/public/img/Cat hairs/curly.jpg" />
            CURLED HAIRS
          </label>
        </div>
      </fieldset>
    </label>

    <label>Ear Type
      <fieldset id="catEarTypeInput" class="type-wrapper">
        <div class="radio-group">
          <input
            required
            type="radio"
            id="straight"
            name="catEarTypeInput"
            value="straight"
          />
          <label for="straight">
            <img
              class="hair-type-item"
              src="/public/img/Cat hairs/Straight.jpg"
            />
            Straight Ears
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="curledear"
            name="catEarTypeInput"
            value="curledear"
          />
          <label for="curledear">
            <img
              class="hair-type-item"
              src="/public/img/Cat hairs/curled.jpg"
            />
            Curled Ears
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="folded"
            name="catEarTypeInput"
            value="folded"
          />
          <label for="folded">
            <img
              class="hair-type-item"
              src="/public/img/Cat hairs/FoldedEars.jpg"
            />
            Folded Ears
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="loosely"
            name="catEarTypeInput"
            value="loosely"
          />
          <label for="loosely">
            <img
              class="hair-type-item"
              src="/public/img/Cat hairs/Losselyfoldedears.jpg"
            />
            Lossely Folded Ears
          </label>
        </div>
        <div class="radio-group">
          <input
            required
            type="radio"
            id="floppy"
            name="catEarTypeInput"
            value="floppy"
          />
          <label for="floppy">
            <img
              class="hair-type-item"
              src="/public/img/Cat hairs/FloppyEars.jpg"
            />
            Floppy Ears
          </label>

        </div>
      </fieldset>
    </label>

    {{!<div id="collarInput" class="wrapper">
          </label>
        </div>
        
     <div id="collarInput" class="wrapper">
    <p>ABNORMALITIES</p>
    <input
      required
      type="radio"
      id="collarInput1"
      name="collarInput"
      value="true"
    />
    <label for="collarInput1">Yes</label>
    <input
      required
      type="radio"
      id="collarInput2"
      name="collarInput"
      value="false"
      checked
    />
    <label for="collarInput2">No</label>
    
    

    </label>
        </div>
        </label>
        </div> }}
    {{! Cat Hair Type goes here }}

  {{/ifEquals}}

  {{#ifEquals page.animal "dog"}}

  {{> dogTypes}}
  {{/ifEquals}}

  <label for="bodyTypeInput">Body Type</label>
  <select id="bodyTypeInput" name="bodyTypeInput">
    <option value="serverelyUnderWeight">Severely Under Weight</option>
    <option value="underWeight">Under Weight</option>
    <option value="idealWeight">Ideal Weight</option>
    <option value="overWeight">Over Weight</option>
  </select>

  <button type="submit">Submit</button>

</form>

<script src="/public/js/form.js">

</script>