<h1>Lost Pet Form</h1>
<form id="lostpet-form" method="post" action="/pets/lost" enctype="multipart/form-data">
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}

  <label for="animalInput">Pet Lost</label>
  <input type="text" id="animalInput" name="animalInput" />
  <label for="imageInput">Upload Image</label>
  <input id="imageInput" type="file" name="imageInput" accept="image/*" />
  <label for="breedInput">Breed</label>
  <input type="text" id="breedInput" name="breedInput" />
  <label for="colorInput">Color</label>
  <input type="text" id="colorInput" name="colorInput" />
  <div id="colarInput" class="wrapper">
    <p>Colar</p>
    <input
      required
      type="radio"
      id="colarInput1"
      name="colarInput"
      value="true"
    />
    <label for="colarInput1">Yes</label>
    <input
      required
      type="radio"
      id="colarInput2"
      name="colarInput"
      value="false"
    />
    <label for="colarInput2">No</label>
  </div>
  <label for="heightInput">Height</label>
  <input type="number" id="heightInput" name="heightInput" />
  <label for="genderInput">Gender</label>
  <select id="genderInput" name="genderInput">
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>
  <label for="hairTypeInput">Hair Type</label>
  <input type="text" id="hairTypeInput" name="hairTypeInput" />
  <label for="earTypeInput">Ear Type</label>
  <input type="text" id="earTypeInput" name="earTypeInput" />
  <label for="bodyTypeInput">Body Type</label>
  <input type="text" id="bodyTypeInput" name="bodyTypeInput" />
  <label for="distinguishingInput">Distinguishing information ("My cat has a
    brown nose with a white spot on it" )</label>
  <input type="text" id="distinguishingInput" name="distinguishingInput" />

  <button type="submit">Submit</button>

</form>