<form id="lostpet-form" method="post" action="/lost">

  <label for="animalInput">Animal</label>
  <input type="text" id="animalInput" name="animalInput" />
  <label for="breedInput">Breed</label>
  <input type="text" id="breedInput" name="breedInput" />
  <label for="colorInput">Color</label>
  <input type="text" id="colorInput" name="colorInput" />
  <label for="heightInput">Height</label>
  <input type="number" id="heightInput" name="heightnput" />
  <label for="genderInput">Gender</label>
  <select id="genderInput" name="genderInput">
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>

</form>