<h1>Lost {{page.animal}} Form</h1>
<form
  id="lostpet-form"
  method="post"
  action="/pets/lost"
  enctype="multipart/form-data"
>
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}



  <input hidden id="lostAnimal" value="{{page.animal}}" name="animalInput" />


  <label for="lostBreed">Breed</label>
  <input
    type="text"
    id="lostBreed"
    placeholder="Enter pet breed.."
    pattern="[A-Za-z ]{1,}"
    title="Enter only Alphabets"
    name="breedInput"
    required
  />
  <label for="lostColor">Color</label>
  <input
    type="text"
    id="lostColor"
    placeholder="Enter pet color.."
    pattern="[A-Za-z ]{1,}"
    title="Enter only Alphabets"
    name="colorInput"
    required
  />
  <div id="collarInput" class="wrapper">
    <p>Collar</p>
    <input
      required
      type="radio"
      id="collarInput1"
      name="collarInput"
      value="true"
    />
    <label for="collarInput1">Yes</label>
    <input
      required
      type="radio"
      id="collarInput2"
      name="collarInput"
      value="false"
      checked
    />
    <label for="collarInput2">No</label>
  </div>
  <label for="lostHeight">Height</label>
  <input
    type="number"
    id="lostHeight"
    placeholder="Enter pet height in ft.. e.g. 3.5"
    min="0"
    max="6"
    name="heightInput"
    required
  />
  <label for="lostGender">Gender</label>
  <select id="lostGender" name="genderInput">
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select>

  {{#ifEquals page.animal "cat"}}
  {{> catTypes }}
  {{/ifEquals}}

  {{#ifEquals page.animal "dog"}}
  {{> dogTypes }}
  {{/ifEquals}}

  <label for="bodyTypeInput">Body Type</label>
  <select id="bodyTypeInput" name="bodyTypeInput">
    <option value="ServerelyUnderWeight">Severely Under Weight</option>
    <option value="UnderWeight">Under Weight</option>
    <option value="IdealWeight">Ideal Weight</option>
    <option value="OverWeight">Over Weight</option>
  </select>

  <button type="submit">Submit</button>

</form>

<script src="/public/js/form.js">
</script>