{{#if error}}
  <div class="error">{{error}}</div>
{{/if}}
<h2>You lost or found a pet</h2>
<p>
  Enter a photo of your missing pet and search our lost and found pet database to find them.
</p>
<br />
<h3>
  HELPING REUNITE LOST PETS
</h3>
<br />

<div id="report">

  <button id="reportLost" onclick="lost()">
    I LOST A PET
  </button>
  

  <button id="reportFound" onclick="found()">
   I FOUND A PET
  </button>

</div>

<div id="reportLostDiv">
  <h4>Lost </h4>

  <button onclick='window.location.href = "/pets/lost/dog"'>DOG</button>
  <button onclick='window.location.href = "/pets/lost/cat"'>CAT</button>

</div>

<div id="reportFoundDiv">
  <h4>Found </h4>
  <button onclick='window.location.href = "/pets/found/dog"'>DOG</button>
  <button onclick='window.location.href = "/pets/found/cat"'>CAT</button>

</div>

<script src="/public/js/report.js"></script>