* {
  margin: 0;
  padding: 0;
}
header {
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




footer {
  min-height: 60px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer a {
  color: white;
}

html {
  background-color: black;
}

main {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

form {
  display: flex;
  width: 40%;
  flex-direction: column;
}

form label {
  display: flex;
  flex-direction: column;
}

form label .radio {
  display: flex;
  flex-direction: row;
}

form input,
select,
button {
  padding: 10px;
  margin: 5px;
}

h2 {
  padding: 10px;
  text-align: center;
}

.error {
  color: red;
}

li {
  list-style: none;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
}

.userdetails {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userdetails form {
  width: 40%;
}

.material-icons {
  cursor: pointer;
}


.feed-main{
  margin: 12px 10px;
  max-width: 350px;
  background: rgb(232, 232, 232);
  border-radius: 6px;
  padding: 12px;
}

.feed-user{
  font-weight: 600;
  background-color: lightgray;
  margin-bottom: 6px;
  padding: 6px;
  border-radius: 6px;
}
.feed-img img {
  width: 100%;
}

.header-right {
  display: flex;
  justify-content: space-evenly;
}

.profile {
  padding: 0 10px;
}
