* {
  margin: 0;
  padding: 0;
}
header {
  height: 40px;
  background-color: black;
  color: white;
}

footer {
  min-height: 40px;
  background-color: black;
  color: white;
}

main {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  width: 40%;
  flex-direction: column;
}

form label {
  display: flex;
  flex-direction: column;
}

form input,
button {
  padding: 10px;
  margin: 5px;
}

h2 {
  padding: 10px;
  text-align: center;
}

.error {
  color: red;
}
