{{#if cookie}}
  <form action="/dog-walker/post" method="post" enctype="multipart/form-data">

    {{#if error}}
      <div class="error">{{error}}</div>
    {{/if}}

    <input required type="file" name="images" accept="image/*" />
    <input required type="text" name="walkerName" placeholder="Walker Name" />
    <input required type="time" name="walkTime" placeholder="Walking Time" />
    <input
      required
      type="number"
      name="expMonth"
      min="0"
      placeholder="Experience's Month"
    />
    <input
      required
      type="number"
      name="expYear"
      min="0"
      placeholder="Experience's Year"
    />
    <input required type="number" name="phoneNum" placeholder="Phone Number" />
    <button type="submit">Post</button>

  </form>
{{else}}
  <p>You need to login to post content</p>
{{/if}}