<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <img class="slideImg" src="/public/img1.jpg">
        <div class="captionText">HELPING PEOPLE BY FINDING PETS</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <img class="slideImg" src="/public/img2.jpg" >
        <div class="captionText">HELPING PEOPLE BY FINDING PETS</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <img class="slideImg" src="/public/img3.jpg">
        <div class="captionText">HELPING PEOPLE BY FINDING PETS</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img class="slideImg" src="/public/img4.jpeg">
        <div class="captionText">HELPING PEOPLE BY FINDING PETS</div>
    </div>

</div>


<script src="/public/js/home.js"></script>
