{{#if cookie}}
  <form action="/new-feed" method="post" enctype="multipart/form-data">
    <input type="file" name="multi-files" accept="image/*" multiple />
    <input
      type="text"
      name="data"
      placeholder="What's on you mind, {{cookie.firstName}} ?"
    />
    <input type="submit" />

  </form>
{{else}}
  <p>You need to login to post content</p>
{{/if}}