<form action="/new-feed" method="post" enctype="multipart/form-data">
<<<<<<< HEAD
    <input type="file" name="multi-files" accept='image/*' multiple>
    <input type="text" name="data" placeholder="Enter Content"/>
    <input type="submit"/>
=======
  <input type="file" name="multi-files" accept="image/*" multiple />
  <input type="text" name="data" placeholder="Enter Content" />
  <input type="submit" />

>>>>>>> 4ee3359a97a63ade895317d1bdd5f7d062953e56
</form>