

<form id="loginForm" method="post" action="/auth/login{{#if ref}}?ref={{ref}}{{/if}}">
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
  <h2>Login</h2>
  <label>Email
    <input type="email" placeholder="Enter your email.. e.g. example@email.com" name="email" value="{{email}}" required autofocus/>
  </label>
  <label>Password
    <input type="password" placeholder="Enter password.." name="password" required />
  </label>
  <button type="submit">Login</button>
</form>