<form id="loginForm" method="post" action="/auth/login">
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
  <h2>Login</h2>
  <label>Email
    <input id="loginEmail" type="email" name="email" value="{{email}}" />
  </label>
  <label>Password
    <input id="loginPassword" type="password" name="password" />
  </label>
  <button type="submit">Login</button>
</form>